<!doctype html>
<html lang="en">
<head>
    <%- include('./templates/head') %>
</head>
<body>
<%- include('./templates/navbar') %>
<div class="container">
    <div class="jumbotron">
        <h2>First Fleet Management</h2>
        <p class="overflowFix">We provide the latest and greatest fleet management solutions to date. Offering a
            completely custom but
            feature rich dashboard you can easily manage your whole fleet, or just a sub section. view the demo or head
            to the features page to find out more.</p>
        <p><a class="btn btn-primary btn-lg" href="/features">Features</a></p>
    </div>

</div>

<%- include('./templates/footer') %>
</body>
</html>
