<!doctype html>
<html lang="en">
<head>
    <%- include('../templates/head') %>
</head>
<body>
<%- include('../templates/navbar') %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Pricing</h1>
        <p>TODO add pricing here</p>
    </div>

</div>

<%- include('../templates/footer') %>
</body>
</html>
